<!-- Подключение базового шаблона -->
{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1 class="mb-4">Видео пользователей</h1>
    <div class="row">
        {% for post in posts %}
        <!-- Карточка одоного поста пользователей -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.text }}</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text text-secondary">Дата публикации: {{ post.at_publish }}</p>
                        </div>
                        <div class="col-6 text-end">
                            <a href="/profile/{{ post.author_id }}" class="card-text">Автор: {{ post.author_username }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- таких карточек много... -->
        {% endfor %}
    </div>
{% endblock %}